[submodule "third_party/zxing"]
	path = third_party/zxing
	url = https://github.com/nu-book/zxing-cpp
[submodule "third_party/skia"]
	path = third_party/skia
	url = https://github.com/google/skia
[submodule "third_party/binaryen"]
	path = third_party/binaryen
	url = https://github.com/WebAssembly/binaryen
[submodule "third_party/wasm3"]
	path = third_party/wasm3
	url = https://github.com/wasm3/wasm3
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/wasm-tools"]
	path = third_party/wasm-tools
	url = https://github.com/bytecodealliance/wasm-tools
