[submodule "third_party/zxing"]
	path = third_party/zxing
	url = https://github.com/nu-book/zxing-cpp
[submodule "third_party/fpng"]
	path = third_party/fpng
	url = https://github.com/richgel999/fpng
